.contentTable {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

.contentTable th,
.contentTable td {
  border: 1px solid black;
  padding: 4px 8px 2px 8px;
}

.contentTable th {
  text-align: left;
}

.contentTable .columnResizeSeparator {
  top: 0;
  right: -3px;
  width: 5px;
  position: absolute;
  z-index: 1;
  cursor: col-resize;
  user-select: none;

  -webkit-transition: all 200ms ease-out 0s;
  -moz-transition: all 200ms ease-out 0s;
  transition: all 200ms ease-out 0s;  
}

.contentTable .column_title {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contentTable caption {
	caption-side: top;
  text-align: left;
	padding-bottom: 6px; 

  font-size: 20px;
  font-weight: bold;
}