.container {
  width: 100%;
  min-height: 100%;

  overflow: hidden;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.pagemenu {
  float: left;
  min-width: 200px;

  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.pagemenu-resize {
  border-left: 1px solid #e1e1e1;
  width: 3px;
  margin-left: 8px;
  margin-right: 8px;
  cursor: ew-resize;

  position: relative;
  box-sizing: border-box;

  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content {
  float: right;
  width: 100%;
}

.pagemenu a {
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  color: #000;
  display: block;
  background: #fff;
  text-align: left;
  cursor: pointer;
  outline: none;

  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
}

.pagemenu a:hover {
  background: #e1e1e1;
}

#pagemenu-content a {
  border-top: 0px;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
}
