.searchMenu {
  background-color: #ffffff;
  border: 1px solid #999999;
  cursor: default;
  /* display: none; */
  position: absolute;
  text-align: left;
  z-index: 99999;
  padding: 6px;
  margin-top: -260px; /* 20px */
  margin-left: 80px;
}

.searchMenu input {
  margin-bottom: 6px;
  margin-left: 8px;
}

.searchMenu table {
  width: 100%;
  border: 1px solid #999999;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.searchMenu td {
  padding: 4px;
}

.searchMenu tr:nth-child(even) {
  background-color: #f2f2f2;
}

.searchMenu tr:hover {
  cursor: pointer;
  background-color: rgb(228, 228, 228);
}
