* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: auto;
  font-size: 16px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  background-color: black;
}

textarea, div[contenteditable="true"] {
  width: 100%;

  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  margin: -2px;

  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}