* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif,
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

button:hover {
  cursor: pointer;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

input[type="checkbox"]:hover {
  cursor: pointer; 
}

hr {
  border-left: none;
}

::selection {
  background: rgba(45, 170, 219, 0.3);
}

::placeholder {
  color: rgb(55, 53, 47, 0.2);
}
