* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: auto;
  font-size: 16px;
  /* include border and padding in element width and height */
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  padding: 8px;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="text"] {
  cursor: default;
  font-size: 20px;
}

::selection {
  background: rgba(45, 170, 219, 0.3);
}

#pageTitle {
  padding-top: 0px;
  padding-bottom: 14px;
  color: rgb(55, 53, 47);

  font-weight: bold;
  display: block;
  font-weight: 700;
  font-size: 28px;
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;

  outline: none;
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#pageTitle::placeholder {
  color: rgb(55, 53, 47, 0.2);
}

#pageContainer {
  display: flex;
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

#pageContent {
  float: right;
  width: 100%;
  padding-left: 10px;
}

#placeholder {
  width: 100%;
  height: 100%;
}

#menuBar {
  padding-bottom: 6px;
}

#menuBar input {
  vertical-align: middle;
}
