.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  padding-bottom: 10px;
}

.table th,
.table td {
  border-right: 1px solid rgba(55, 53, 47, 0.2);
  border-bottom: 1px solid rgba(55, 53, 47, 0.2);
  text-align: left;
  height: 22px;
}

.table th {
  color: rgba(55, 53, 47, 0.6);
  font-weight: normal;
  border-top: none;
  position: relative;
}

.table th:hover {
  background-color: rgb(228, 228, 228);
}

.table th:last-child:hover {
  cursor: pointer;
}

.table th:last-child,
.table td:last-child {
  border-right: none;
}

.table th:first-child,
.table td:first-child {
  border-left: none;
}

.table tr:last-child:hover > td {
  background-color: rgb(228, 228, 228);
  cursor: pointer;
}

.table th:last-child div {
  font-size: 16px;
  font-weight: normal;
  margin-top: -2px;
}

.table th input {
  color: rgba(55, 53, 47, 0.6);
  cursor: default;
}

.table td {
  padding: 6px 6px 6px 8px;
}

.table tr:last-of-type td {
  border-top: none;
  border-right: none;

  color: rgba(55, 53, 47, 0.7);
}

.table caption input {
  text-align: left;
  padding-bottom: 6px;
  font-size: 20px;
  font-weight: bold;
}

.columnResizeSeparator {
  top: 0;
  right: -3px;
  width: 5px;
  height: 35px;
  position: absolute;
  z-index: 1;
  cursor: col-resize;
  user-select: none;

  -webkit-transition: all 200ms ease-out 0s;
  -moz-transition: all 200ms ease-out 0s;
  transition: all 200ms ease-out 0s;
}

.columnResizeSeparator:hover {
  background-color: rgba(46, 170, 220, 1);
}

.table #activeRow {
  background-color: rgba(45, 170, 219, 0.2);
}

.columnTitle {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 4px;
  padding-left: 6px;
  padding-bottom: 4px;

  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

th:first-of-type .columnTitle {
  padding-left: 2px;
}

.columnTitle:last-child {
  justify-content: left;
}

.columnIcon {
  float: left;
  width: 18px;
  height: 18px;

  padding: 2px;
  margin-top: 2px;
}

.columnIcon:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 4px;
  cursor: pointer;
}

.table th input[type="text"],
.table td input[type="text"] {
  padding-left: 4px;
}

.table tr td:first-of-type {
  padding-left: 2px;
}

.table tr:last-of-type td:first-of-type {
  padding-left: 6px;
}

.table td input[type="checkbox"] {
  margin-left: 1px;
}

.table input[type="text"],
.textline {
  outline: none;
  border: none;
  width: 100%;

  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
