.contentTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  padding-bottom: 10px;
}

.contentTable:hover,
.contentTable textarea:hover {
  cursor: default;
}

.contentTable th,
.contentTable td {
  border-right: 1px solid rgba(55, 53, 47, 0.2);
  border-bottom: 1px solid rgba(55, 53, 47, 0.2);
  padding: 6px 10px 6px 10px;
  text-align: left;
  height: 22px;
}

.contentTable th {
  color: rgba(55, 53, 47, 0.6);
  font-weight: normal;
  border-top: none;
  position: relative;
}

.contentTable th:hover {
  background-color:  rgb(228, 228, 228);
}

.contentTable th:last-child:hover {
  cursor: pointer;
}

.contentTable th textarea {
  color: rgba(55, 53, 47, 0.6);
  cursor: default;
}

.columnTitle {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.columnTitle:not(:last-child) {
  position: relative;
  padding-left: 1.3em;
}

.columnIcon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 5px;
  left: 0px;
}

.columnIcon:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 4px;
  cursor: pointer;
}

.contentTable td textarea {
  padding-top: 2px;
  padding-left: 0px;
  cursor: default;
}

.contentTable th:last-child,
.contentTable td:last-child {
  border-right: none;
}

.contentTable th:first-child,
.contentTable td:first-child {
  border-left: none;
}

.contentTable tr:last-child:hover > td {
  background-color: rgb(228, 228, 228);
  cursor: pointer;
}

.contentTable th:last-child div {
  font-size: 16px;
  font-weight: normal;
  margin-top: -2px;
}

.contentTable tr:last-of-type td {
  border-top: none;
  border-right: none;

  color: rgba(55, 53, 47, 0.7);
}

.columnResizeSeparator {
  top: 0;
  right: -3px;
  width: 5px;
  height: 38px;
  position: absolute;
  z-index: 1;
  cursor: col-resize;
  user-select: none;

  -webkit-transition: all 200ms ease-out 0s;
  -moz-transition: all 200ms ease-out 0s;
  transition: all 200ms ease-out 0s;
}

.columnResizeSeparator:hover {
  background-color: rgba(46, 170, 220, 1);
}

.contentTable caption div {
  caption-side: top;
  text-align: left;
  padding-bottom: 6px;
  font-size: 20px;
  font-weight: bold;
}

.contentTable #activeRow {
  background-color: rgba(45, 170, 219, 0.2);
}
