.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  padding-bottom: 10px;
}

.tableHead th,
.tableBody td {
  border-right: 1px solid rgba(55, 53, 47, 0.2);
  border-bottom: 1px solid rgba(55, 53, 47, 0.2);
  text-align: left;
  height: 22px;
}

.tableHead th {
  color: rgba(55, 53, 47, 0.6);
  font-weight: normal;
  border-top: none;
  position: relative;
}

.tableHead th:hover {
  background-color: rgb(228, 228, 228);
}

.tableHead th:last-child:hover {
  cursor: pointer;
}

.tableHead th:last-child,
.tableBody td:last-child {
  border-right: none;
}

.tableHead th:first-child,
.tableBody td:first-child {
  border-left: none;
}

.tableBody tr:last-child:hover > td {
  background-color: rgb(228, 228, 228);
  cursor: pointer;
}

.tableHead th:last-child div {
  font-size: 16px;
  font-weight: normal;
  padding-top: 4px;
}

.tableHead th:last-child div img {
  margin-top: 3px;
  margin-right: 2px;
}

.tableHead th input {
  color: rgba(55, 53, 47, 0.6);
  cursor: default;
}

.tableBody td {
  padding: 6px 6px 6px 8px;
}

.tableBody tr:last-of-type td {
  border-top: none;
  border-right: none;

  color: rgba(55, 53, 47, 0.7);
}

.table caption input {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.columnResizeSeparator {
  top: 0;
  right: -3px;
  width: 5px;
  height: 33px;
  position: absolute;
  z-index: 1;
  cursor: col-resize;
  user-select: none;
  transition: all 200ms ease-out 0s;
}

.columnResizeSeparator:hover {
  background-color: rgba(46, 170, 220, 1);
}

.table #activeRow {
  background-color: rgba(45, 170, 219, 0.2);
}

.columnTitle {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 4px;
  padding-left: 7px;
  padding-bottom: 4px;
  margin: 0px;

  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tableHead th:first-of-type .columnTitle {
  padding-left: 2px;
}

.tableHead th:last-of-type .columnTitle {
  padding-left: 4px;
}

.columnTitle:last-child {
  justify-content: left;
}

.columnTitle img {
  float: left;
  width: 20px;
  height: 20px;

  padding: 2px;
  margin-top: 2px;
}

.columnTitle:last-of-type img {
  width: 18px;
  height: 18px;
}

.columnTitle img:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 4px;
  cursor: pointer;
}

.tableHead th input[type="text"],
.tableBody td input[type="text"] {
  padding-left: 6px;
}

.tableBody tr td:first-of-type {
  padding-left: 2px;
}

.newRow {
  display: flex;
  justify-content: left;
  vertical-align: middle;
  align-items: center;
}

.newImg {
  width: 14px;
  height: 14px;
  margin: 4px 4px 2px 4px;
}

.tableBody td input[type="checkbox"] {
  margin-left: 1px;
}

.table input[type="text"],
.table .textline {
  outline: none;
  border: none;
  width: 100%;

  background-color: transparent;
  box-shadow: none;
}

.captionContainer {
  display: flex;
}

.tableTitleContainer	 {
  width: 80%;
  float: left;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
}

.tableMenuContainer {
  width: 20%;
  float: right;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tableMenuContainer img {
  width: 30px;
  padding: 4px;
}

.tableMenuContainer img:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 4px;
  cursor: pointer;
}

.tableMenu {
  border: 1px solid rgb(236, 236, 236);
  z-index: 99999;
  position: absolute;
  right: 8px;
  width: 150px;
  background: white;
  display: none;
}

.tableMenu table {
  width: 100%;
}

.tableMenu table td {
  display: flex;
  border: none;
  padding: 2px 6px 2px 4px;
  align-items: center;
}

.tableMenu td:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 4px;
  cursor: pointer;
}

.tableMenu img {
  width: 18px;
  margin-right: 4px;
}
