.textline {
  outline: none;
  border: none;
  width: 100%;
  font-size: 16px;
  padding-bottom: 4px;
  text-align: justify;
  word-break: break-all;
  word-wrap: break-word;

  background-color: transparent;
  box-shadow: none;
}

.textline:empty:focus:before {
  content: attr(data-placeholder);
  color: rgb(55, 53, 47, 0.6);
}
