#columnMenu {
  z-index: 999;
  width: 290px;
  border: 1px solid rgb(236, 236, 236);
  padding: 8px;
  position: absolute;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 6px 0px;
}

#columnMenu img {
  width: 16px;
}

#columnMenuForm {
  width: 100%;
}

#columnMenuForm .label {
  font-weight: 500;
  user-select: none;
  width: 52px;
}

#columnTypeValue,
#numberFormatValue,
#tableRelationValue {
  background: white;
  align-items: center;
  display: grid;
  cursor: pointer;
  padding: 4px;
  user-select: none;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  height: 29px;
}

#columnTypeValue {
  grid-template-columns: auto 1fr auto;
}

#numberFormatValue,
#tableRelationValue {
  grid-template-columns: 1fr auto;
}

#numberFormatValue span,
#tableRelationValue span {
  padding-left: 3px;
}

#tableRelationValue.error {
  border: 1px solid red;
  box-shadow: 0 0 1px red;
}

#columnTypeValue:hover,
#numberFormatValue:hover,
#tableRelationValue:hover {
  background-color: rgb(236, 236, 236);
  border-radius: 4px;
}

#columnTypeValue.active,
#numberFormatValue.active,
#tableRelationValue.active {
  background-color: rgb(236, 236, 236);
  border-radius: 4px;
}

#columnTypeValue img:not(:last-of-type) {
  margin: 0px 8px 0px 3px;
}

#columnMenuActionBar {
  width: 100%;
  display: flex;
  justify-content: center;
}

#columnMenuActionBar img {
  width: 28px;
  cursor: pointer;
  padding: 4px;
  margin: 0px 2px 0px 2px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

#columnMenuActionBar img:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}
