#searchmenu {
  background-color: #ffffff;
  border: 1px solid #999999;
  cursor: default;
  /* display: none; */
  position: absolute;
  text-align: left;
  z-index: 99999;
  padding: 6px;
  margin-top: -400px;
  margin-left: 120px;
}

#searchmenu input {
  margin-bottom: 6px;
  margin-left: 8px;
}

#searchmenu table {
  width: 100%;
  border: 1px solid #999999;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
}

#searchmenu td {
  padding: 4px;
}

#searchmenu tr:nth-child(even) {
  background-color: #f2f2f2;
}

#searchmenu tr:hover {
  cursor: pointer;
  background-color: rgb(228, 228, 228);
}
