#tableSearchMenu {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  cursor: default;
  text-align: left;
  position: fixed;
  width: 200px;
  z-index: 9999;
  max-height: 140px;
  overflow: auto;
  display: none;
  padding: 4px;
}

#tableSearchMenu table {
  width: 100%;

  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
}

#tableSearchMenu tr {
  height: 28px;
}

#tableSearchMenu tr:not(#noTableFound):hover {
  cursor: pointer;
  background-color: rgb(228, 228, 228);
}

#tableSearchValue {
  margin-left: 8px;
  width: 140px;
}

#tableSearchFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  padding-bottom: 4px;
  width: 100%;
}

#noTableFound:hover {
  cursor: default;
  background-color: none;
}

#tableSearchMenu td {
  padding: 4px;
}
