<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <!-- CSS Style -->
  <link rel="stylesheet" href="../res/css/style.css" type="text/css" />
  <link rel="stylesheet" href="../res/css/page.css" type="text/css" />
  <link rel="stylesheet" href="../res/css/menu/navbar.css" type="text/css" />
  <link rel="stylesheet" href="../res/css/menu/pagemenu.css" type="text/css" />
  <link rel="stylesheet" href="../res/css/menu/blockmenu.css" type="text/css" />
  <link rel="stylesheet" href="../res/css/menu/searchmenu.css" type="text/css" />
  <link rel="stylesheet" href="../res/css/menu/tablemenu.css" type="text/css" />
  <link rel="stylesheet" href="../res/css/table.css" type="text/css" />
  <link rel="stylesheet" href="../res/css/textline.css" type="text/css" />
</head>

<body>

  <div id="pageContainer">
    <div id="navBar">
      <div id="settingsPage" class="navBarItem" data-uuid="settingsPage"><img
          src="../res/img/settings.svg">Settings
      </div>
      <div id="navBarPages">
        <div id="navBarPagesTitle">Pages
          <hr>
        </div>
        <div id="newPage" class="navBarItem" data-uuid="newPage"><img src="../res/img/new.svg">New page</div>
      </div>
    </div>
    <div id="resizeSeparator"></div>
    <div id="pageContent">
      <div id="menuBar">
        <button id="btnTest">Test</button>
        <button id="btnLogout">Logout</button>
        <button id="btnRestart">Restart</button>
        <button disabled id="btnUpdateApp">Update Ready</button>
        <hr>
      </div>
      <div id="pageNameContainer"><input id="pageName" type="text"></div>
      <div id="content">
        <!-- External content -->
      </div>
      <div id="placeholder"></div>
    </div>
  </div>
  <div id="disabledPageContainer"></div>

  <!-- Popup menus -->
  <div id="blockmenu">
    <table>
      <tbody>
        <tr>
          <div class="sectionTitle">BASIC BLOCKS</div>
        </tr>
        <!-- <tr class="clickable" data-type="textline">
              <td>
                <div class="icon">Aa</div>
              </td>
              <td>
                <div>Text</div>
                <div class="description">Just start writing with plain text.</div>
              </td>
            </tr> -->
        <tr class="clickable" data-type="table">
          <td>
            <div class="icon">Tbl</div>
          </td>
          <td>
            <div>Table</div>
            <div class="description">Create a table in this page.</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div id="searchmenu">
    <b>Search:</b><input type="text">
    <table>
      <tbody>
      </tbody>
    </table>
  </div> -->

  <div id="pagemenu">
    <table>
      <tbody>
        <tr id="deletePage">
          <td><img src="../res/img/trash.svg">Delete</td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="../main_renderer.js"></script>
</body>

</html>