<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <!-- CSS Style -->
    <link rel="stylesheet" href="../res/css/style.css" type="text/css" />
    <link rel="stylesheet" href="../res/css/page.css" type="text/css" />
    <link rel="stylesheet" href="../res/css/navbar.css" type="text/css" />
    <link rel="stylesheet" href="../res/css/menu/navbarMenu.css" type="text/css" />
    <link rel="stylesheet" href="../res/css/menu/blockMenu.css" type="text/css" />
    <link rel="stylesheet" href="../res/css/menu/tableSearchMenu.css" type="text/css" />
    <link rel="stylesheet" href="../res/css/menu/columnTypeMenu.css" type="text/css" />
    <link rel="stylesheet" href="../res/css/menu/numberFormatMenu.css" type="text/css" />
    <link rel="stylesheet" href="../res/css/menu/tableMenu.css" type="text/css" />
    <link rel="stylesheet" href="../res/css/menu/columnMenu.css" type="text/css" />
    <link rel="stylesheet" href="../res/css/table.css" type="text/css" />
    <link rel="stylesheet" href="../res/css/textline.css" type="text/css" />
  </head>

  <body>
    <div id="pageContainer">
      <div id="navbar">
        <div id="settingsPage" class="navbarItem" data-uuid="settingsPage">
          <img src="../res/img/settings.svg" class="navbarItemIcon" draggable="false" />Settings
        </div>
        <div id="navbarPages">
          <div id="navbarPagesTitle">
            Pages
            <hr />
          </div>
          <div id="newPage" class="navbarItem" data-uuid="newPage">
            <img src="../res/img/new.svg" class="navbarItemIcon" draggable="false" />New page
          </div>
        </div>
      </div>
      <div id="resizeSeparator"></div>
      <div id="pageContent">
        <div id="menuBar">
          <button id="btnTest">Test</button>
          <button id="btnLogout">Logout</button>
          <button id="btnRestart">Restart</button>
          <button disabled id="btnUpdateApp">Update Ready</button>
          <hr />
        </div>
        <div id="pageNameContainer"><input id="pageName" type="text" /></div>
        <div id="content">
          <!-- External content -->
        </div>
        <div id="placeholder"></div>
      </div>
    </div>
    <div id="disabledPageContainer"></div>

    <!-- Popup menus -->
    <div id="blockMenu">
      <table>
        <tbody>
          <tr>
            <div class="sectionTitle">BASIC BLOCKS</div>
          </tr>
          <!-- <tr class="clickable" data-type="textline">
              <td>
                <div class="icon">Aa</div>
              </td>
              <td>
                <div>Text</div>
                <div class="description">Just start writing with plain text.</div>
              </td>
            </tr> -->
          <!-- <tr class="clickable" data-type="table">
            <td>
              <div><img src="../res/img/table.png" /></div>
            </td>
            <td>
              <div>Table</div>
              <div class="description">Create a table in this page.</div>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>

    <div id="tableMenu">
      <table>
        <tr id="deleteTable">
          <td><img src="../res/img/trash.svg" draggable="false" />Delete</td>
        </tr>
      </table>
    </div>

    <div id="columnMenu">
      <table id="columnMenuForm">
        <tbody>
          <tr>
            <td class="label">Type:</td>
            <td>
              <div id="columnTypeValue"></div>
              <div id="columnTypeMenu">
                <table>
                  <tbody></tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr id="numberFormat">
            <td class="label">Format:</td>
            <td>
              <div id="numberFormatValue"><span></span><img src="../res/img/arrow_down.svg" draggable="false" /></div>
              <div id="numberFormatMenu">
                <table>
                  <tbody></tbody>
                </table>
              </div>
            </td>
          </tr>
          <tr id="tableRelation">
            <td class="label">Table:</td>
            <td>
              <div id="tableRelationValue"><span></span><img src="../res/img/arrow_down.svg" draggable="false" /></div>
              <div id="tableSearchMenu">
                <div id="tableSearchFilter"><b>Filter:</b><input id="tableSearchValue" type="text" /></div>
                <table>
                  <tbody>
                    <tr id="noTableFound">
                      <td>Nothing found.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <hr />
      <!-- <div class="label">Relation:</div> -->
      <!-- <div><input type="text" name="tableSearch"></div> -->
      <div id="columnMenuActionBar">
        <img id="deleteColumn" src="../res/img/trash.svg" draggable="false" title="Delete column" />
        <img id="duplicateColumn" src="../res/img/duplicate.svg" draggable="false" title="Duplicate column" />
      </div>
    </div>

    <div id="navbarMenu">
      <table>
        <tbody>
          <tr id="deletePage">
            <td><img src="../res/img/trash.svg" draggable="false" />Delete</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="../main_renderer.js"></script>
  </body>
</html>
