<table>
    <tbody>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" id="password"></td>
            <td><input type="submit" id="btnSavePassword" value="Save">
                <input type="button" id="btnSetPassword" value="Login">
                <input type="button" id="btnReadPassword" value="Read">
            </td>
        </tr>
        <tr>
            <td>Data folder:</td>
            <td><input type="text"></td>
            <td><input type="button" id="dataFolderPicker" value="Choose directory..."></td>
            <td></td>
        </tr>
    </tbody>
</table>