<html>

<body>
  <div style="display: grid; grid-template-columns: auto 1fr auto; vertical-align: middle; border: 1px solid;">
    <img src="../res/img/settings.svg" style="width: 18px;">Text<img src="../res/img/settings.svg"
      style="width: 18px; position:relative; right: 2px;"></span>
  </div>
</body>

</html>

<!-- <div contenteditable="true" class="textline" data-placeholder="Type '/' for commands"></div> -->

<!-- <table class="table">
  <caption>
    <div class="captionContainer">
      <div class="tableTitleContainer	">
        <input type="text" value="Example">
      </div>
      <div class="tableMenuContainer">
        <img class="menuImg" src="../res/img/menu.svg">
      </div>
    </div>
    <div class="tableMenu">
      <table>
        <tbody>
          <tr id="deleteTable">
            <td><img src="../res/img/trash.svg">Delete</td>
          </tr>
        </tbody>
      </table>
    </div>
  </caption>
  <thead class="tableHead">
    <tr>
      <th data-type="text">
        <div class="columnTitle"><img src="../res/img/text.svg"><input type="text" value="Column 1"></div>
        <div class="columnResizeSeparator"></div>
      </th>
      <th data-type="checkbox">
        <div class="columnTitle"><img src="../res/img/checkbox.svg"><input type="text"></div>
        <div class="columnResizeSeparator"></div>
      </th>
      <th data-type="text">
        <div class="columnTitle"><img src="../res/img/text.svg"><input type="text" value="Column 3"></div>
        <div class="columnResizeSeparator"></div>
      </th>
      <th data-type="add">
        <div class="columnTitle">+ New</div>
      </th>
    </tr>
  </thead>
  <tbody class="tableBody">
    <tr>
      <td><input type="text" value="Wie geht's dir? 1"></td>
      <td><input type="checkbox" /></td>
      <td><input type="text" value="Hallo Welt 1"></td>
      <td></td>
    </tr>
    <tr>
      <td><input type="text" value="Wie geht's dir? 2"></td>
      <td><input type="checkbox" /></td>
      <td><input type="text" value="Hallo Welt 2"></td>
      <td></td>
    </tr>
    <tr>
      <td><input type="text" value="Wie geht's dir? 3"></td>
      <td><input type="checkbox" /></td>
      <td><input type="text" value="Hallo Welt 3"></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="4">+ New</td>
    </tr>
  </tbody>
</table> -->